/* ranger097 */

window#waybar {
background-color: rgba(10,10,10,0.8);
padding-right: 0px;
border-right: 1px solid #000000;
}

#custom-nix,
#custom-discord,
#custom-steam,
#custom-lock,
#custom-ghostty,
#custom-firefox,
#custom-code,
#custom-power,
#workspaces button,
#clock,
#custom-vpn_ip,
#battery,
#custom-music {
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
border-radius: 0px;
border: 1px solid #000000;
font-family: Maple Mono NF;
font-size: 14px;
font-weight: 400;
background: linear-gradient(90deg, rgba(100,100,100,1),rgba(100,100,100,1));
color:#000000;
margin-right: 0px;
text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
}

#custom-music { 
padding-top: 5px;
padding-bottom: 5px;
padding-right:10px;
font-size: 17px;
margin-top: 0px;
text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
}

#custom-power {
font-size: 16px;
padding-top:6px;
padding-right:10px;
padding-bottom:6px;
margin-bottom: 5px;
font-weight: 400;
margin-bottom: 0px;
text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
}

#workspaces {
margin-top: 0px;
margin-bottom: 0px;
}

#clock {
padding-top: 10px;
padding-bottom: 10px;
font-weight: 400;
font-size: 14px;
}

#battery {
padding-top: 6px;
padding-bottom: 6px;
font-size: 14px;
text-shadow: -1px 1px 2px rgba(0,0,0,0.4);
}


#custom-code,
#custom-ghostty,
#custom-firefox,
#custom-nix,
#custom-steam,
#custom-discord, 
#custom-lock {
background: linear-gradient(90deg ,rgba(200,60,60,1),rgba(200,60,60,1));

}


#custom-code {
margin-top: 0px;
padding-top: 5px;
padding-bottom: 5px;
padding-right:10px;
font-size: 16px;
color:#000000;
}

#custom-ghostty {
padding-top: 5px;
padding-bottom: 5px;
padding-right:8px;
font-size: 16px;
color:#000000;
}

#custom-firefox {
padding-top: 5px;
padding-bottom: 5px;
padding-right:11.5px;
font-size: 16px;
color:#000000;
}

#custom-nix {
padding-top: 5px;
padding-bottom: 5px;
padding-right:12px;
font-size: 16px;
color:#000000;
}

#custom-steam {
padding-top: 5px;
padding-bottom: 5px;
padding-right:1.5px;
font-size: 16px;
color:#000000;
}

#custom-discord {
padding-top: 5px;
padding-bottom: 5px;
padding-right:4px;
font-size: 16px;
color:#000000;
}

#custom-lock {
padding-top: 5px;
padding-bottom: 5px;
padding-right:10px;
font-size: 16px;
border: 1px solid #000000;
margin-bottom: 0px;
color:#000000;
}

#custom-dna {
padding-top: 0px;
padding-bottom: 0px;
padding-right: 2px;
font-size: 40px;
color: rgba(200,70,70,0.8);
color: #2c2c2c;
margin-top: -10px;
margin-bottom: -10px;
text-shadow: 0px 0px 2px rgba(255,70,70,0);
}

#workspaces:hover { background-color: rgba(255,240,207,0.0); color: #000000; }
#workspaces button:hover { background-color: rgba(0,0,0,0); color: #000000; }
#workspaces button.active { background: linear-gradient(90deg, rgba(200,60,60,1),rgba(200,60,60,1));
color:#000000; text-shadow: -1px 1px 2px rgba(0,0,0,0.2); }
#workspaces button.urgent { background-color: rgba(0,0,0,1); color:#ffffff; }
#mode { background-color: transparent; }
#window { margin: 0 0px; }
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }
